<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Music Playlist</title>
</head>
<body ng-controller="MusicController">

  <!-- Music Playlist -->
  <div ng-repeat="song in playlist">
    <h3>{{ song.title }}</h3>
    <p>{{ song.artist }}</p>
    <button ng-click="playSong(song)">Play</button>
  </div>

  <!-- Include Azure Storage JavaScript SDK -->
  <script src="https://cdn.jsdelivr.net/npm/@azure/storage-blob@12.10.0/dist/azure-storage-blob.js"></script>
  <script src="azure_storage_list.py"></script>
</body>
</html>
